* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0,0.5);
    text-align: center;
    height: 100vh;
    background: #f6f7fc;
}
#gradient {
    position: relative;
    background: linear-gradient(45deg,#00ff00,#ff0000);
    width: 250px;
    height: 320px;
    border-radius: 25px;
    left: 50%;  
    transform: translateX(-50%);
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 2px 31px 35px -15px rgba(0, 0, 0,0.64);
}
input {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input::-webkit-color-swatch-wrapper {
    padding: 0;
}
input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
h3 {
    color: rgba(0, 0, 0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 100%;
    margin-top: 8em;
}